<h1>Meet the developers</h1>

 <div>
   <table class="developers" align="center">
     <tr align="center">
       <td><img src="https://avatars1.githubusercontent.com/u/5456481?v=3&s=400" width="120px" height="120px"></td>
       <td><img src="https://media.licdn.com/media/p/6/005/085/25f/0ff84e8.jpg" width="120px" height="120px"></td>
     </tr>
     <tr align="center">
       <td>Harlan Kellaway</td>
       <td>Lynne Okada</td>
     </tr>
   </table>
 </div>
