<div class="center jumbotron">
  <h1>After Tex<span class="blink_me" style:"font-family:'Poiret One', cursive">|</span></h1>

  <h2>
    <p>Send personal text messages to your friends and family after death.</p>
  </h2>

  <% if !logged_in? %>
  <paper-button class="my-button" raised><%= link_to "Sign up", signup_path if !logged_in? %></paper-button>
  <% end %>

</div>

<div align="center">
  <table id="info">

    <tr align="center">
      <td><img src="https://raw.githubusercontent.com/lynneokada/Text-After-Death/polymer-polish/app/assets/images/info_image1.png" width=100px height=100px></td>
      <td><img src="https://raw.githubusercontent.com/lynneokada/Text-After-Death/polymer-polish/app/assets/images/info_image2.png" width=100px height=100px></td>
      <td style="width:266px"><img src="https://raw.githubusercontent.com/lynneokada/Text-After-Death/polymer-polish/app/assets/images/info_image3.png" width=100px height=100px></td>
    </tr>
    <tr style="padding-top:20px"align="center">
      <td>Sign up for our Text After Death Service</td>
      <td>Create Receivers for your text messages</td>
      <td>Wait ...and send away</td>
    </tr>


  </table>
</div>
