<div class="center jumbotron">
  <div class="home-p1" style="width:100%">
    <h1>After Text<span class="blink_me" style:"font-family:'Poiret One', cursive">|</span></h1>
    <h2>
      <p>Send personal text messages to your friends and family after death.</p>
    </h2>
    <% if !logged_in? %>
    <paper-button class="my-button" raised><%= link_to "Sign up", signup_path if !logged_in? %></paper-button>
    <% end %>
  </div>
</div>
  <div class="home-p2" align="center">

      <table id="info" style="width:1000px">

        <tr align="center">
          <td><img src="https://raw.githubusercontent.com/lynneokada/Text-After-Death/polymer-polish/app/assets/images/info_image1.png" width=100px height=100px></td>
          <td style="width:330px"><img src="https://raw.githubusercontent.com/lynneokada/Text-After-Death/polymer-polish/app/assets/images/info_image2.png" width=100px height=100px></td>
          <td style="width:336px"><img src="https://raw.githubusercontent.com/lynneokada/Text-After-Death/polymer-polish/app/assets/images/info_image3.png" width=100px height=100px></td>
        </tr>
        <tr id="description" align="center">
          <td><br>Sign up for our sevice</td>
          <td><br>Create your text messages</td>
          <td><br>Wait ...and send away</td>
        </tr>
      </table>


</div>
