<div class="center jumbotron">
  <h1>Text After Death</h1>

  <h2>
    <p>Send personal text messages to your friends and family after death.</p>
  </h2>

  <paper-button class="my-button" raised><%= link_to "Sign up", signup_path if !logged_in? %></paper-button>
</div>
