<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table align="center">
  <thead>
    <tr>
      <th>Date</th>
      <th>Receiver</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% all_messages.each do |message| %>
      <tr style="border-width: 1px;
      border-style: solid;
      border-color: #22392F;
      border-radius: 5px;
      height:50px;">
        <td><%= message.date %></td>
        <td>
          Receiver Names
        </td>
        <td><%= message.content %></td>
        <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
