<div class="row">
  <aside class="col-md-4">
    <%= render 'form' %>
  </aside>
    <table class="my-receivers" align="center">
        <thead>
          <tr>
          <td>Receiver</td>
          <td>Phone Number</td>
          </tr>
        </thead>

        <tbody>
          <h2>Receivers</h2>
        <% @receivers.each do |receiver| %>
          <tr>
            <td><br><%= receiver.name %></td>
            <td><br><%= receiver.phonenumber %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
