<div class="row">
  <aside class="col-md-4">
    <%= render 'form' %>
  </aside>
</div>

<div align="center">
<ul class="my-receivers">

  <% @receivers.each do |receiver| %>
      <li>
        <%= receiver.name %>
        <%= receiver.phonenumber %>
      </li>
    <% end %>
</ul>
</div>
