<% @receivers = current_user_receivers %>

<ul class="my-receivers">
  <% @receivers.each do |receiver| %>
      <li>
        <%= receiver.name %>
        <%= receiver.phonenumber %>
      </li>
    <% end %>
</ul>

<%= render 'form' %>
