<!--
 * This is a manifest file that'll be compiled into application.html, which will include all the files
 * listed below and their dependencies.
 *
 * Any html files within this directory, lib/assets/components, or vendor/assets/components
 * can be referenced here using a relative path.
 *
 *= require_tree .
 *= require polymer/polymer
 *= require paper-button/paper-button
 *= require paper-tabs/paper-tabs
 *= require core-dropdown/core-dropdown
 *= require paper-dropdown-menu/paper-dropdown-menu
 *= require paper-dropdown/paper-dropdown
 *= require paper-item/paper-item
 *= require core-menu/core-menu
 *= require paper-input/paper-input

 *= require my-element
 *= require header-panel

-->
