<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <strong><%= @user.name %></strong>
      </h1>
      <%= render :partial => "messages/form", :locals => {:message => Message.new} %>
</aside>

</div>
