@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;

}

body {
  padding-top: 60px;
}

section {
  overflow: hidden;
}

textarea {
  resize: vertical;
}

#username
{
text-align: left;

}

.contact-list
{
  padding-left: 0px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 50px;
    color: white;
    letter-spacing: 2px;
    font-size: 40px;

  }
}

.container
{
  .jumbotron
  {
    background-color: #B2BFBF;
    padding-top: 150px;
    padding-bottom: 100px;
    p
    {
      font-size: 15px;
    }
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  //font-family: 'Poiret One', cursive;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
  padding-bottom: 15px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.navbar-inverse
  {
    background-color: #22392F;
    border-color: white;
  }

  .navbar-inverse .navbar-nav > li > a {
    color: white;
  }

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  // text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 16px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: white;
  a {
    color: white;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* about page */
.developers {
  img {
    border-radius: 50%;
    margin: 50px;
  }

  td
  {
    color: white;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */
textarea
{
  height: 98px;
  max-height: 98px;
}

input, textarea, select, .uneditable-input {
  border: 1px;
  background-color: transparent;
  width: 100%;
  @include box_sizing;
  outline: none;
}

input {
  height: auto !important;
}

label {
  color: #22392F;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#content
{
  border-width: 1px;
  border-style: solid;
  border-color: #22392F;
  border-radius: 5px;
  height:100px;
}
/* Polymer Elements */

.my-button
{
  background: #22392F;
  color: white;
  width: 200px;
}

paper-checkbox::shadow #ink[checked] {
  color: black;
}

paper-checkbox::shadow #checkbox.checked {
  background-color: #22392F;
  border-color: #22392F;
}

paper-checkbox::shadow #ink {
    color: white;
}

/* Home Page Info */
